[Unit]
Description=Raspblue
Documentation=
After=bluetooth.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /home/pi/raspblue/src/server/main.js
Restart=on-failure
ExecStartPre=/bin/sleep 10

[Install]
WantedBy=multi-user.target
